{% load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Folio{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.couldflare.com/ajax/libs/normalise/5.0.0/normalise.min.csss">
       
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
       
       
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'layouts/_nav.html' %}
        <div class='wrapper'>
            {% block content %}{% endblock %}
        </div>
       
        {% include 'layouts/_footer.html' %}

        {% block javascripts %}{% endblock%}
    </body>
</html>