@import url('https://fonts.googleapis.com/css?family=Opens+Sans');

/*  reset */
* {
    margin: 0;
    padding: 0;
}
/*  Helpers */
.wrapper{
    width: 1440px;
    max-width: 90%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

/*  Main style */
body{
    font-family: 'Opens Sans', Helvetica, Arial, sans-serif;
    background-color: #fefefe;
}
.navbar{
    background-color: #000;
    border-top: 4px solid #1ce;
    padding: 1em 0;
}
.navbar .navbar-brand{
    font-size: 1.8em;
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-right{
    float: right;
}

.navbar .navbar-right li{
    display: inline-block;
    list-style: none;
    margin-top: 0.3em;
    margin-right: 0.8em;
}
.navbar .navbar-right li:last-child{
   
    margin-right: 0;
}
.navbar .navbar-right li a{
   
    color: #fff;
    text-decoration: none;
}
.navbar .navbar-right li a:hover{
   
    color: #1ce;
}
.footer{
    margin-top: 3em;
    color: rgba(0, 0, 0, 0.6);
}
/* cette partie ajoute la ligne en*/
.footer:before{
    content: "";
    display: block;
    height: 1px;
    background-color: #1ce;
   /* */   
    width: 10%;
    margin: 0.5em auto;
}